.home-container {
  padding: 20px;
}

.filme-id {
  margin-right: 15px; 
}

.filme-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 40px;
  padding: 15px;
  display: flex;
  flex-direction: row;
}

.filme-link {
  color: black;
  text-decoration: none;
}

.nav-link.active {
  font-weight: bold; /* Torna o texto mais destacado */
  color: #007bff; /* Pode ser a cor padrão do seu tema */
  background-color: rgba(0, 123, 255, 0.1); /* Fundo leve para destacar */
}

